/* Mobile and Tablet */
@media (max-width: 1023px) {
  .hide-on-mobile-table {
    display: none;
  }

  .direct__angle-right {
    display: none;
  }
  .direct__angle-left {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .header__menu-list {
    display: block;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-table {
    display: none;
  }
  .wide {
    width: 700px;
    flex-wrap: nowrap;
  }

  .wide .row.sm-gutter {
    margin-left: -6px;
    margin-right: -6px;
  }
  
  .row.sm-gutter .col {
    padding-left: 6px;
    padding-right: 6px;
  }

  .header__search-box {
    width: 84%;
  }
  
  .header__navbar {
    padding: 0 36px;
  }

}

/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
}
