.header {
  border-bottom: 0.6px solid #ccc;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
.header__navbar {
  box-sizing: initial;
  height: var(--header-height);
  margin: 4.5px auto;
  max-width: 1430px;
  padding: 0 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  animation: Ovlinear linear 0.2s;
}

.header__navbar-left {
  display: flex;
  align-items: center;
}

.header__search-box {
  display: flex;
  width: 600px;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-left: 16px;
  position: relative;
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #f3f3f3;
}

.header__search-wrapper {
  display: flex;
  flex: 1;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  border: none;
  line-height: 1.9;
  align-items: center;
}

.header__search-wrapper .booking__field {
  padding: 10px 16px;
  box-sizing: content-box;
}
.header__search-wrapper .booking__field {
  border: none;
  border-radius: 6px;
}

.header__search__location {
  flex: 1;
}

.header__search-mobile {
  display: none;
  width: 200px;
  margin-left: 12px;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

}

.header__input-search {
  font-size: 1.4rem;
  font-weight: 600;
  width: 84%;
  border: none;
  outline: none;
  line-height: 1.5rem;
  margin-left: 5px;
}

.header__input-search:focus ~ .header__search-history {
  display: block;
}

.header__input-search::placeholder {
  color: #000;
  font-weight: 600;
}

.header__search__time {
  width: 115px;
  max-width: 160px;
  white-space: nowrap;
}

.header__search__time::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  top: 50%;
  background: #e7e7e7;
  transform: translateY(-50%);
}

.header__search__customer::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  top: 50%;
  background: #e7e7e7;
  transform: translateY(-50%);
}

.menu-btn {
  display: none;
}

.search-btn {
  background-color: #555;
  color: var(--white);
  height: 36px;
  border-radius: 5px;
  border: none;
  padding: 0 21px;
  margin: 0.5rem;
}

.header__search-history {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 4;
  overflow: hidden;
  display: none;
  width: 100%;
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  animation: fadeIn ease-out 0.3s;
}

.header__search-history-heading {
  margin: 0;
  text-align: center;
  font-size: 2.1rem;
  color: #111;
  font-weight: 500;
}

.header__search-history-list {
  padding-left: 0;
  margin: 0 0 8px 0;
  list-style: none;
}

.header__search-history-item {
  display: flex;
  padding: 8px 16px;
  cursor: pointer;
  transition: all ease-in 0.2s; 
}

.history-item-img {
  width: 50px;
  height: 50px;
}

.history-item-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.history-item-content {
  margin-left: 16px;
}

.history-item-heading {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.history-item-quantity {
  margin: 0px 4px 0 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.header__search-history-item:hover {
  color: #f65e39;
  background-color: #fff4e9;
}

.header__search-history-item.active {
  color: #f65e39;
  background-color: #fff4e9;
}

.header__navbar-menu {
  flex: 1;
  display: flex;
  margin-left: 16px;
  justify-content: flex-end;
}

.header__menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.header__menu-item {
  margin-left: 20px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.navbar-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  font-size: 1.4rem;
  background-color: #fff;
  transform: translateX(-100%);
  opacity: 0;
  transition: all linear 0.2s;
}
.mobile-list {
  padding: 16px;
  margin: 0;
}
.mobile-item {
  list-style: none;
  margin: 0 8px;
}

.navbar-mobile-link {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 8px 0;
  margin-bottom: 12px;
}

.navbar-mobile-logo {
  margin-top: 16px;
  margin-left: 16px;
}

.nav__mobile-close {
  width: 24px;
  height: 24px;
  font-size: 2.4rem;
  color: #666;
  position: absolute;
  top: 2rem;
  right: 1.6rem;
}

.nav__input:checked ~ .nav__overlay {
  display: block;
}

.nav__input:checked ~ .navbar-mobile {
  transform: translateX(0);
  opacity: 1;
}

.mobile_language {
  position: relative;
}

.mobile_language-btn {
  width: 93%;
  padding: 6px;
  border: none;
  border-radius: 24px;
  display: flex;
  align-items: center;
  vertical-align: center;
}

.header__language_mobile-content {
  display: flex;
  position: absolute;
  top: 120%;
  padding: 4px;
  min-width: 100%;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  animation: fa-spin ease-in 0.2s;
  box-shadow: 0 0 0 1px rgb(6 44 82 / 10%), 0 2px 16px rgb(33 43 54 / 8%);
}

.country__name-mobile {
  margin-left: 12px;
  margin-right: 66%;
  color: #333;
}

@keyframes Ovlinear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.item-host {
  padding: 0 6px;
  position: relative;
}

.header__navbar-link {
  font-weight: 700;
  color: #222;
  text-decoration: none;
  transition: color ease-in 0.2s;
}

.header__navbar-link:hover {
  color: var(--primary-color);
  cursor: default;
}

.header__navbar-link-notice {
  top: -4px;
  right: -4px;
  padding: 1px 1px;
  font-weight: 500;
  position: absolute;
  border-radius: 42px;
  border: 1.4px solid var(--primary-color);
  background-color: var(--primary-color);
}

.header__language {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 6px 10px 6px 6px;
  border-radius: 20px;
  background-color: #f6f6f6;
  position: relative;
  cursor: pointer;
}

.header__language-change {
  display: none;
  min-width: 460px;
  right: 48px;
  z-index: 2;
  top: 90%;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 0 1px rgb(6 44 82 / 10%), 0 2px 16px rgb(33 43 54 / 8%);
  animation: fa-spin ease-in 0.2s;
}

.header__language-change.show {
  display: block;
}

.header__language-content {
  display: flex;
}

.header__language-content::before {
  content: "";
  position: absolute;
  top: -0.8rem;
  right: 2rem;
  transform: rotate(45deg);
  height: 1.6rem;
  width: 1.6rem;
  background: #fff;
  border-top-left-radius: 3px;
  border-top: 1px solid rgb(200, 200, 200);
  border-left: 1px solid rgb(200, 200, 200);
}

@keyframes fa-spin {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(calc(100% + 14px));
  }
}

.country-name {
  padding: 0 2px;
}

.language-link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 8px 0;
}

.header__language-content-img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.check-icon {
  font-size: 1rem;
  margin-left: 6px;
}

.header__language-icon {
  width: 24px;
  height: 24px;
}

.country-name {
  margin: 0 6px;
}

.container {
  margin-top: calc(var(--header-height) + 50px);
}

.banner__slider-img {
  border-radius: 18px;
}

.owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  display: flex;
  justify-content: space-between;
}

.owl-nav button.owl-prev{
  width: 50px;
  height: 50px;
  background: #fff !important;
  border-radius: 50%;
  margin-left: -20px;
  display: flex;
  align-items: center;
  justify-content:center;
  box-shadow: 0 0 7px -4px #000;
}

.owl-nav button.owl-next{
  width: 56px;
  height: 56px;
  background: #fff !important;
  border-radius: 50%;
  margin-right: -20px;
  display: flex;
  align-items: center;
  justify-content:center;
  box-shadow: 0 0 7px -4px #000;
}
.owl-nav button.owl-prev:focus,
.owl-nav button.owl-next:focus{
  outline: none;
}

.owl__nav-icon{
  font-size: 25px;
  font-weight: 300;
  color: #555;
}

.auth {
  color: #000;
}

.slick__slider-item {
  width: 100%;
  height: 308px;
  position: relative;
}

.slick__slider-img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.place-product {
  position: absolute;
  left: 30px;
  bottom: 20px;
}
.place-product-heading {
  line-height: 1.2;
  color: var(--white);
  font-size: 2.2rem;
  margin: 0;
}
.place-product-quantity {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 400;
}
.endow__slider-img {
  width: 100%;
  border-radius: 10px;
}

.suggestions__slider-item {
  margin-top: 16px;
  border-radius: 4px;
}

.suggestions__slider-img {
  width: 100%;
  border-radius: 4px;
}

.suggestions_body {
  margin-top: -6px;
}

.suggestions__heading {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #444;
  font-weight: 400;
}

.suggestion_desc {
  font-size: 1.4rem;
  color: #2a303a;
  line-height: 22px;
  margin: 12px 0;
  transition: color ease-in 0.2s;
}

.suggestion_desc:nth-child(eve):hover {
  color: var(--primary-color);
}

.discover__slider-item {
  height: 264px;
  border-radius: 2px;
  position: relative;
  flex-wrap: wrap;
}

.discover__slider-img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  object-fit: cover;
}

#suggestions_slider >.owl-nav {
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-40%);
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.discover__header {
  width: 100%;
  position: absolute;
  top: 0;
}

.discover__info {
  box-sizing: initial;
  padding: 24px;
  height: 112px;
}

.discover__info-link {
  color: var(--white);
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 4px 28px 4px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  transition: background-color ease 0.2s;
}

.discover__info-link:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.discover__title {
  height: 56px;
  padding: 24px;
  box-sizing: initial;
}

.discover__title-link {
  color: var(--white);
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  line-height: 1.6;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

.guide__slider-img {
  width: 100%;
  border-radius: 4px;
}

.intro-slider {
  margin-top: 64px;
}

.intro__logo {
  width: 343px;
  margin-bottom: 18px;
}

.intro__content-heading {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 25px;
}
.intro__content-info {
  font-size: 1.6rem;
  margin: 0 0 16px 0;
  line-height: 1.5;
}

.intro__slider-img {
  width: 100%;
}

.intro__direct {
  margin: 70px 0 0 0;
}

.intro__direct-qr {
}

.intro__direct--qr-img {
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  width: 178px;
}

.app {
  margin: 16px 0;
}

.intro__direct-app {
  align-items: center;
}

.app-img {
  margin-bottom: 32px;
}

.intro__direct--app-img {
}

.footer__content {
  margin-top: 48px;
}

.footer_top-heading {
  margin: 0 0 20px 0;
}

.footer_top-link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 2.2;
}

.footer_top-link:hover {
  color: var(--primary-color);
}

.footer__contact-heading {
  margin: 2px 0;
}

.qr_dowload-img {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0.09);
}

.foorer__dowload-app {
  margin-left: 12px;
}

.dowload-app-img {
  width: 90%;
  margin-bottom: 12px;
}

.footer__top-contact {
  display: flex;
  margin: 14px 0;
}

.footer_top-logo {
  width: 170px;
  margin-bottom: 4px;
}

.footer__top-icon {
  margin-right: 10px;
}

.footer_number-link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  line-height: 2rem;
}

.footer_number-link:hover {
  color: var(--primary-color);
}

.footer__pay {
  margin-top: 24px;
}

.footer__pay-transaction {
  text-align: center;
}

.footer__certifica-img {
  width: 44%;
  padding-right: 6px;
}

.footer__pay-heading {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__social-icon {
  font-size: 28px;
  color: #444;
}

.footer__bottom {
  padding: 10px 12px;
  border-top: 1px solid rgb(230, 230, 230);
}
.footer__bottom-content {
  text-align: center;
  font-size: 1.4rem;
  color: #999;
  line-height: 1.1;
}
