.main {
  overflow: hidden;
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 7px 0 0 0;
  display: flex;
  align-items: center;
}

.header__navbar-item {
  margin: 0 6px;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  justify-items: center;
  position: relative;
}

.header__navbar-user-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-name {
  margin-left: 5px;
  font-size: 1.3rem;
  font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-menu {
  position: absolute;
  display: none;
  width: 160px;
  right: 0;
  z-index: 1;
  top: calc(100% + 4px);
  border-radius: 2px;
  padding-left: 0;
  list-style: none;
  background-color: var(--white);
  box-shadow: 0 2px 3.5rem rgba(0, 0, 0, 0.2);
}

.header__navbar-user-menu::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white) transparent;
  position: absolute;
  right: 4px;
  top: -29px;
}

.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -9px;
  width: 62%;
  height: 20px;
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__navbar-user-item a:hover {
  color: #0db8a4;
  background-color: #fafafa;
}

.header__navbar-user-item a {
  display: block;
  padding: 9px 20px;
  color: var(--text-color);
  font-size: 1.4rem;
  text-decoration: none;
}

.user-item-separate {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.notify_visible:hover .notify {
  display: block;
}

.qr_visible:hover .header_QR {
  display: block;
}

.header__navbar-item,
.nav__item__link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
}

.header__navbar-item,
.nav__item__link,
.nav__icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover:not(.active),
.nav__item__link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item-strong {
  font-weight: 400;
}

.separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  height: 15px;
  right: -8px;
  top: 50%;
  transform: translateY(-50%);
}

.nav__icon-link {
  color: var(--white);
  text-decoration: none;
}

.nav__icon-link:first-child {
  margin-left: 4px;
}
.header__navbar__icon {
  font-size: 1.7rem;
  margin: 0 4px;
}
/* Header qr code */
.header_QR {
  background-color: var(--white);
  width: 186px;
  position: absolute;
  left: 0;
  top: 120%;
  padding: 8px;
  z-index: 1;
  border-radius: 2px;
  display: none;
  box-shadow: 2px 2px 5px #f53e2d;
  animation: fadeIn ease-in 0.3s;
}

.header_QR::before {
  position: absolute;
  left: 0;
  top: -16px;
  width: 100%;
  height: 20px;
  content: "";
  display: block;
}

.qr_img {
  width: 100%;
}

.qr_dowload {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.qr_dowload-img {
  height: 16px;
}
.header_qr-link:nth-child(even) {
  margin-right: 11px;
}
.header_qr-link:nth-child(odd) {
  margin-left: 11px;
}

/* Header notifications */

.notify {
  position: absolute;
  z-index: 2;
  top: 120%;
  right: 0;
  width: 404px;
  display: none;
  cursor: default;
  border-radius: 2px;
  border: 1px solid #eceaea;
  background-color: var(--white);
  transform-origin: calc(100% - 32px) top;
  animation: notifyVisible ease-in 0.2s;
  will-change: opacity, transform;
}

.notify::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white) transparent;
  position: absolute;
  right: 4px;
  top: -29px;
}

.notify::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -16px;
  width: 100px;
  height: 20px;
}

@keyframes notifyVisible {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

.notify-header {
  height: 40px;
  background-color: var(--white);
}

.notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-weight: 400;
  font-style: 1.5rem;
  line-height: 40px;
  user-select: none;
}

.notify_list {
  padding-left: 0;
}

.notify-item {
  display: flex;
}

.notify-item:hover {
  background-color: #f7f7f7;
}

.notify-item:visited {
  background-color: #fff;
}

.notify-link--viewed {
  background-color: rgba(238, 77, 45, 0.1);
}

.notify-link {
  display: flex;
  width: 100%;
  padding: 12px;
  text-decoration: none;
}

.notify-img {
  width: 48px;
  object-fit: contain;
}

.notify-info {
  margin-left: 12px;
}

.notify-content {
  display: block;
  font-style: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.8rem;
}

.notify-des {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: #756f6e;
  margin-top: 4px;
}

.notify_footer {
  display: flex;
}

.notify_footer-btn {
  text-decoration: none;
  color: var(--text-color);
  width: 100%;
  padding: 12px 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.auth-form {
  width: 500px;
  padding: 0 32px;
}

.auth-form__header {
  padding: 0 12px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__control {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.control_size {
  margin-bottom: 20px;
}

.auth-form__control-back {
  margin-right: 8px;
}
.auth-form__rule {
  display: flex;
  margin-top: 24px;
  align-items: center;
}
.rule_left {
  height: 1px;
  background-color: #dbdbdb;
  -webkit-box-flex: 1;
  flex: 1;
}
.midle {
  color: #888;
  padding: 0 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.rule_right {
  height: 0.5px;
  width: 100%;
  background-color: #dbdbdb;
  -webkit-box-flex: 1;
  flex: 1;
}

.auth-form_socials {
  margin-top: 18px;
  padding: 16px 4px;
  display: flex;
  justify-content: space-between;
}
.btn__fb {
  background-color: #1877f2;
  color: #fff;
}
.btn__google {
  background-color: #4285f4;
  color: #fff;
}
.btn__apple {
  background-color: #000;
  color: #fff;
}

.fa-google-plus-square {
  background-color: var(--primary-color);
  font-size: 18px;
}

.btn_social-title {
  margin: 0 20px;
}

.auth-form__aside {
  margin-top: 48px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.policy__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.options {
  text-align: center;
}

.options a {
  color: var(--primary-color);
  text-decoration: none;
}

/* Login form */
.auth-form__help {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help-separate {
  display: block;
  height: 22px;
  margin: 0px 16px;
  border-left: 1px solid #eaeaea;
}

.auth-form__link-forgot {
  color: var(--primary-color);
}

/* Header with search */

.header-with-search {
  height: var(--header--with-search-height);
  display: flex;
  margin: 0 8px;
  align-items: center;
}

.header__mobile-search {
  font-size: 2.6rem;
  padding: 0 12px;
  color: var(--white);
  display: none;
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  color: transparent;
  display: block;
  line-height: 0;
  text-decoration: none;
}

.header_search-checkbox:checked ~ .header_search {
  display: flex;
}

.header__logo-img {
  width: 150px;
}

path {
  fill: #fff;
}

.header_search {
  flex: 1;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  background-color: var(--white);
}
/* Header cart */
.header_cart {
  width: 150px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white);
  margin-top: 2px;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 8px);
  right: -5px;
  width: 400px;
  display: none;
  cursor: default;
  border-radius: 2px;
  z-index: 2;
  box-shadow: 0 2px 3.5rem rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  animation: fadeIn ease-in 0.2s;
}

.header__cart-list::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -31px;
  cursor: pointer;
  border-width: 20px 25px;
  border-style: solid;
  border-color: transparent transparent var(--white) transparent;
}

.header__cart-list--nocart {
  padding: 24px 0;
}

.header__cart-list--nocart .header__cart-nocart-img,
.header__cart-list--nocart .nocart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-nocart-img {
  width: 70%;
  display: none;
}

.nocart-msg {
  font-size: 1.5rem;
  display: none;
  margin-top: 16px;
  color: #666;
}

.header__cart-heading {
  text-align: left;
  margin: 10px 0 10px 12px;
  font-size: 1.5rem;
  color: #888;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 50vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-img {
  width: 45px;
  height: 42px;
  margin: 12px;
  border: 1px solid #e8e8e8;
}

.header__cart-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  text-align: left;
  font-size: 1.4rem;
  line-height: 2rem;
  max-height: 4rem;
  overflow: hidden;
  font-weight: 500;
  flex: 1;
  margin: 0;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: var(--text-color);
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-muti {
  font-size: 0.9rem;
  margin: 0 4px;
  color: #757575;
}

.header__cart-item-quantity {
  color: #757575;
  font-size: 1.2rem;
}

.header__cart-item-body {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

.header__cart-item-des {
  color: #757575;
  font-size: 1.3rem;
  font-weight: 300;
}

.header__cart-item-remove:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.header__btn-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}
.header__btn-view-cart:hover {
  background-color: #fd4041;
}

.header__cart-notice {
  top: -7px;
  right: -7px;
  padding: 1px 6px;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.4rem;
  position: absolute;
  border-radius: 42px;
  border: 2px solid #ee4d2d;
  color: var(--primary-color);
  background-color: var(--white);
}

.header_search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header_search-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 0 16px;
  border-radius: 2px;
  color: var(--text-color);
}

.header__search-select {
  border-left: 2px solid #e8e8e8;
  padding-left: 16px;
  position: relative;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  outline: none;
  border-radius: 2px;
  margin-right: 3px;
}

.header__search-btn:hover {
  cursor: pointer;
  background-color: #fb6445;
}

.header__search-icon {
  font-size: 1.4rem;
  color: var(--white);
}

.header__search-select:hover .header_search-option {
  animation: fadeIn linear 0.3s;
  display: block;
}

.header_search-option {
  position: absolute;
  right: 0;
  z-index: 1;
  top: calc(100% + 3px);
  width: 160px;
  list-style: none;
  padding-left: 0;
  border-radius: 2px;
  display: none;
  box-shadow: 0px 1px 3px #fb6445;
}

.header_search-option::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
}

.header_search-option-item {
  padding: 8px 10px;
  background-color: var(--white);
}

.header_search-option-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header_search-option-item:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header_search-option-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.header_search-option-item span {
  font-size: 1.4rem;
  margin-left: 16px;
  color: var(--text-color);
}

.header_search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: 12px;
  display: none;
}

.search-option-item--active i {
  display: inline-block;
}

.header_search-input:focus ~ .header__search-history {
  display: block;
}

/* Search history */

.header__search-history {
  position: absolute;
  top: calc(100% + 1.5px);
  left: 0;
  z-index: 4;
  display: none;
  overflow: hidden;
  width: calc(100% - 16px);
  background-color: var(--white);
  border-radius: 2px;
  box-shadow: 0 1px 5px #fa6648;
  animation: fadeIn ease-out 0.3s;
}

.header__search-history-heading {
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #888;
  font-weight: 400;
}

.header__search-history-list {
  padding-left: 0;
  margin: 6px 0 0;
  list-style: none;
}

.header__search-history-item {
  height: 38px;
  padding: 0 12px;
}

/* Header sort bar */
.header__sort-bar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  margin: 0;
  padding-left: 0;
  display: none;
  list-style: none;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: var(--header__sort-bar-height);
  background-color: var(--white);
}

.header__sort-item {
  flex: 1;
}

.header__sort-link {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  height: 100%;
  text-align: center;
  position: relative;
  line-height: var(--header__sort-bar-height);
}

.header__sort-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 60%;
  border-left: 1px solid #e5e5e5;
  transform: translateY(-50%);
}

.header__sort-link--active {
  color: var(--primary-color);
}

.header__sort-link:first-child .header__sort-link::before {
  display: none;
}

.header__search-history-item:hover {
  cursor: pointer;
  background-color: #fafafa;
}

.header__search-history-item a {
  text-decoration: none;
  line-height: 38px;
  font-size: 1.4rem;
  display: block;
  color: var(--text-color);
}

/* App content */
.app_content {
  background-color: #f5f5f5;
}

.app__container {
  padding-top: 36px;
}

.category {
  border-radius: 2px;
  background-color: var(--white);
}

.category_heading {
  font-size: 1.6rem;
  padding: 12px 16px;
  margin-top: 0;
  color: var(--text-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category_heading-icon {
  font-size: 1.4rem;
  margin-right: 4px;
}

.category-list {
  list-style: none;
  margin-left: 12px;
  padding: 0 0 8px 0;
}

.category-item--active .category-item-link {
  color: var(--primary-color);
}

.category-item--active .category-item-link::before {
  top: 50%;
  left: 2px;
  content: "";
  position: absolute;
  border: 4px solid;
  border-color: transparent transparent transparent var(--primary-color);
  transform: translateY(-50%);
}

.category-item-link {
  position: relative;
  right: 0;
  display: block;
  padding: 6px 16px;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--text-color);
  transform: right linear 0.1s;
}

.category-item-link:hover {
  right: -4px;
  color: var(--primary-color);
}
/* Mobile category */
.category-mobile {
  display: none;
}
.category-mobile__list {
  display: flex;
  list-style: none;
  padding-left: 0;
  max-width: 100%;
  overflow-x: auto;
}

.category-mobile__list::-webkit-scrollbar {
  display: none;
}

.mobile-category-item {
  flex-shrink: 0;
  margin-right: 10px;
}

.mobile-category-item:nth-of-type(3n + 1) .mobile-category-link {
  background-color: #87afd8;
}

.mobile-category-item:nth-of-type(3n + 2) .mobile-category-link {
  background-color: #76c9bd;
}

.mobile-category-item:nth-of-type(3n + 3) .mobile-category-link {
  background-color: #88cf81;
}

.mobile-category-link {
  --line-height: 4.5rem;
  line-height: var(--line-height);
  height: var(--line-height);
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
  text-align: center;
  width: 110px;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  border-radius: 4px;
  font-weight: 300;
  user-select: none;
  padding: 0 5px;
  -webkit-user-select: none;
}

/* List product */
.home-filter {
  display: flex;
  padding: 12px 22px;
  align-items: center;
  border-right: 2px;
  border-radius: 3px;
  background-color: rgb(237, 237, 237);
}

.home-filter__label {
  margin-right: 16px;
  font-size: 1.4rem;
  color: #656565;
}

.home-filter_btn {
  background-color: var(--white);
  min-width: 90px;
  margin-right: 10px;
}

.home-filter-page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter-page-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter-page-curent {
  color: var(--primary-color);
}

.home-filter-page-direction {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  flex: 1;
  display: flex;
  text-decoration: none;
  background-color: var(--white);
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.filter__page-btn-disabled {
  cursor: default;
  background-color: #f9f9f9;
}

.filter__page-btn-disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

/* Product item */
.home-product {
  margin-bottom: 10px;
}

.home-product-item {
  display: block;
  margin-top: 10px;
  position: relative;
  text-decoration: none;
  border-radius: 2px;
  background-color: var(--white);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-out 0.1s;
  will-change: transform;
}

.home-product-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item-img {
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-product-item-name {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 10px;
  height: 3rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: var(--text-color);
  -webkit-line-clamp: 2;
}

.home-product-item_installment {
  margin: -5px 10px 0px 10px;
}

.item_installment {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  user-select: none;
  padding: 3px 4px;
  box-sizing: border-box;
  line-height: 0.7rem;
  border: 0.08rem solid;
  border-radius: 2px;
  background-color: transparent;
  font-size: 1.1rem;
  color: rgb(245, 166, 35);
}

.home-product-item_price {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
  margin-right: 10px;
}

.home-product-item-old-price {
  font-size: 1.3rem;
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: line-through;
}

.home-product-item-new-price {
  color: #ee4d2d;
  margin-left: 10px;
  font-size: 1.5rem;
}

.home-product-item_action {
  display: flex;
  align-items: center;
  margin: 8px 10px 0;
}

.home-product-item__like,
.home-product-item-rating {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.26);
  cursor: pointer;
  overflow: hidden;
}

.like-fill {
  color: #f63d30;
  display: none;
}

.home-product-item__like--checked .like-emty {
  display: none;
}

.home-product-item__like--checked .like-fill {
  display: inline-block;
}

.item-rating-star--gold {
  color: #ffce3d;
}

.home-product-item-rating {
  margin-left: auto;
  flex-shrink: 0;
  font-size: 0.8rem;
}

.home-product-item-sold {
  margin-left: 7px;
  font-size: 1.1rem;
}

.home-product-item-origin {
  display: flex;
  margin: 3px 10px 0;
  padding-bottom: 3px;
  justify-content: space-between;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 300;
}

.home-product-item-favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
  line-height: 1.6rem;
  padding-right: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: currentColor;
}

.home-product-item-favourite i {
  color: var(--white);
}

.home-product-item-favourite span {
  color: var(--white);
}

.home-product-item-favourite::after {
  content: "";
  left: 0;
  bottom: -3.2px;
  position: absolute;
  filter: brightness(60%);
  border-top: 3.2px solid currentColor;
  border-left: 3.2px solid transparent;
}

.home-product-item-favourite i {
  font-size: 0.9rem;
  margin: 0 3px 0 5px;
}

.home-product-item-sale {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  border-top-right-radius: 2px;
  background-color: rgba(255, 216, 57, 0.95);
}

.home-product-item-sale::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  border-width: 0 20px 6px;
  border-style: solid;
  border-color: transparent rgba(255, 216, 57, 0.9) transparent
    rgba(255, 216, 57, 0.9);
}

.home-product-item-sale_percent {
  top: 3px;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #ee4d2d;
  position: relative;
}

.home-product-item-sale_label {
  top: 1px;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  color: var(--white);
}

.home-product-pagination {
  margin-top: 50px;
  margin-bottom: 32px;
  padding-left: 0;
}

/* Footer */
.footer {
  padding-top: 16px;
  border-top: 4px solid var(--primary-color);
}

.footer_heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.footer_list {
  padding-left: 0;
  list-style: none;
}

.footer_item-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #737373;
  padding: 2px 0;
  display: block;
  display: flex;
  align-items: center;
}

.pagination-item--active:hover {
  background-color: #ccc;
}

.follow_icon {
  font-size: 1.7rem;
  margin: -1px 8px 0 0;
}

.footer_download {
  display: flex;
}

.footer_download-qr {
  width: 90px;
  height: 90px;
  border: 1px solid var(--border-color);
}

.footer_download--app {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer_download--app-img {
  height: 16px;
}

.footer_download--app-link {
  text-decoration: none;
}

.footer__bottom {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.65);
  padding: 16px 13px;
  margin-top: 36px;
  background-color: #f5f5f5;
}

.footer__bottom_menu-top {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.bottom_top-element {
  padding: 0 18px;
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  text-transform: uppercase;
  font-size: 1.2rem;
}

.bottom_top-element--a {
  color: rgb(112, 112, 112);
  text-decoration: none;
}

.footer-vn {
  display: flex;
  justify-content: center;
}

.footer-vn-background {
  margin: 14px 20px;
}

.footer-vn-background-img {
  background-size: contain;
  height: 40px;
}

.footer-bottom {
  text-align: center;
  margin: 8px 0;
}

.footer-bottom-head {
  margin: 18px 0;
  font-size: 1.4rem;
}

.pay {
  display: inline-block;
}
.type-pay {
  text-decoration: none;
  list-style: none;
}
